# Python Basics - Part1

In [ ]:
num=10

In [2]:
type(num)

int

In [3]:
num1=8.9
type(num1)

float

In [4]:
int(num1)

8

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#dictionary for every value we assign a key
#key is unique
d={'name':'samsung','rahul':'iphone'}
d

{'name': 'samsung', 'rahul': 'iphone'}

In [11]:
d.values()

dict_values(['samsung', 'iphone'])

In [12]:
d.keys()

dict_keys(['name', 'rahul'])

In [ ]:
#arithmatic operator +,-,*,/
#assignment operator =
#unary operator
#logical operator 
#relational operator <,>,>=,<=

In [13]:
import math

In [19]:
x=math.sqrt(88)
#print(math.floor(9.3))#lower value
print(math.ceil(9.3)) #higher value

10

In [20]:
pow(2,3) #power function
#from math import sqrt,pow

8

In [22]:
#Addition of two numbers using variables
x=input("Enter 1st number")
a=int(x) #need to conver it into string
y=input("enter second number")
b=int(y)
z=a+b
print(z)

Enter 1st number5
enter second number6
11

In [25]:
if False:
    print("very true")
print("bye")

bye

In [28]:
x=8
r=x%2
if r==0:
    print("Even")
    if x>5:
        print("high")
else:
    print("odd")

Even
high

In [30]:
x=8
if(x==1):
    print("One")
elif(x==2):
    print("Two")
elif(x==3):
    print("Three")
else:
    print("something wrong")

something wrong

In [39]:
#while loop
n=1
j=1
while n<=5:
    print("Right",n)
    n=n+1

Right 1
Right 2
Right 3
Right 4
Right 5